* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.wrapper {
    display: flex;
    flex-direction: row;
}

.aside {
    width: 30vw;
    background-color: lightcoral;
    padding-right: 10px;
}

.main {
    padding-top: 0;
}