* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.private-friends {
    padding-top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6f7573;
}

.private-items {
    font-size: 5em;
    padding-top: 20%;
}

.wrapper {
    display: flex;
    flex-direction: row;
}

.aside {
    width: 20vw;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 10vh;
}

.id-input {
    width: 20vw;
    padding: 1rem 0 1rem 0;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.id-input > input {
    height: 2.5rem;
    border-radius: 25px 0 0 25px;
    border: none;
    outline: none;
    background-color: #212f3a;
    color: #6f7573;
    text-align: center;
}

.id-input > button {
    height: 2.5rem;
    padding: 0 10px 0 10px;
    border-radius: 0 25px 25px 0;
    border: none;
    outline: none;
    background-color: #212f3a;
    color: #6f7573;
}

.id-input > button:hover{
    color: #3979df;
}

.profile > h3{
    padding: 1rem 0 1rem 0;
    color: #6f7573;
}

.friends-name {
    display: flex;
    align-items: center;
}

.friends-name > h1{
    height: 0;
    color: white;
    padding: 0 10px 2rem 10px;    
} 

.div1 {
    background-color: white;
    width: 60px;
    height: 1px;
}

.div2 {
    background-color: white;
    width: 60px;
    height: 1px;
}

.main {
    position: absolute;
    right: 0;
    width: 80vw;
    padding-top: 0;
}

@media (max-width: 415px) {

    .wrapper {
        flex-direction: column;
    }

    .aside {
        width: 100vw;
        display: flex;
        flex-direction: row;
        position: fixed;
        padding-bottom: 1rem;
        z-index: 10000;
    }

    .id-input {
        width: 100%;
        padding-bottom: 2rem;
    }
    
    .id-input > input {
        width: 70vw;
    }
    
    .id-input > button {
        width: 20vw;
    }

    .profile > h3{
        padding: 1rem 0 1rem 0;
        width:70%;
        margin: 0 auto;
        text-align: center;
    }

    .div1 {
        width: 37px;
    }
    
    .div2 {
        width: 37px;
    }

    .main {
        top: 48vh;
        left: 50%;
        transform: translateX(-50%);
        width: 90vw;
        z-index: -1;
    }

    .private-friends {
        padding-top: 40%;
        padding-bottom: 100%;
    }

    .private-items {
        font-size: 2em;
    }

}

@media (max-width: 415px) and (max-height: 750px) {

    .main {
        top: 55vh;
    }

}

@media (max-width: 415px) and (max-height: 670px) {

    .main {
        top: 57vh;
    }

}