* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.loading {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    color: #6f7573;
}

.item-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5rem;
    padding: 20px;
}

.item {
    height: 35vh;
    border-radius: 10px;
    overflow: hidden;
    color: white;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.25);
}

.item:hover {
    transform: scale(1.02);
}

.item > .valor {
    text-align: left;
    padding: 5px 0 5px 10px;
    background-color: transparent;
}

.item > .imagem {
    width: 200px;
    display: block;
    margin: 0 auto;
    background-color: transparent;
}

.item > .nome {
    font-size: 1rem;
    text-align: center;
    padding: 5px 0 5px 0px;
    background-color: transparent;
}

@media (max-width: 415px) {

    .loading {
        height: 20vh;
        font-size: 2rem;
    }
    

    .item-wrapper {
        grid-template-columns: repeat(2, 1fr);
        width: 80vw;
    }
    
    .item {
        height: auto;
        width: 40vw;
        padding-bottom: 0.5rem;
    }
    
    .item > .imagem {
        width: 140px;
    }

}